@use '../../variables' as *

.container
  max-height: 40vh
  max-width: 50vw
  font-size: 1em
  color: white
  padding: 5px
  position: relative

.history
  padding: 2px
  height: 30vh
  overflow-y: auto
  overflow-wrap: break-word
  flex-direction: column
  word-break: break-word
  display: flex
  transition: .1s ease-out all
  overflow-y: hidden
  & span
    display: flex
  & .item
    color: white
    text-shadow: -1px 0px $transparentBlack, 0 -1px $transparentBlack, 1px 0 $transparentBlack, 0 1px black, 1px 1px black, 1px 2px black, 2px 2px rgba(0, 0, 0, .5)
    margin-right: 3px

.historyActive
  background: $black2
  overflow-y: auto
  & span
    &:hover
      background: $black3
  
.input
  opacity: 0
  font-size: 0.85em
  border: 2px solid rgba(0, 0, 0, .3)
  background: rgba(0, 0, 0, .6)
  color: white
  &:focus
      outline: none

.active
  opacity: 1