.item
  width: 200px
  height: 85px
  display: grid
  grid-template-rows: 1fr 30px
  grid-template-columns: 1fr 20px
  filter: brightness(0) invert(0.5)
  &.current
    filter: brightness(0) invert(0)

.image
  grid-area: 1 / 1 / 2 / 2
  transform: scaleX(-1)
  max-width: 170px
  max-height: 65px
  justify-self: flex-end
  align-self: center

.slot
  grid-area: 1 / 2 / 2 / 3
  display: flex
  justify-content: center
  font-weight: 600
  font-size: 0.8rem

.name
  grid-area: 2 / 1 / 3 / 2
  display: flex
  justify-content: flex-end
  align-items: center
  font-weight: 600
  font-size: 0.8rem
