$black_tp: transparentize(#343434, 0.5)

.teamItem
  display: flex
  flex-direction: column 
  overflow-y: auto
  background-color: transparentize(#121212, 0.6)

.teamItem.left
  grid-column: 1 / 2

.teamItem.right
   grid-column: 2 / 3