.teamBar
  display: flex
  flex-direction: row
  gap: 1px
  
.name_role
  color: #ffffff
  flex-grow: 1
  align-items: center
  padding-left: 5px

.kills, .assists, .death, .ping
  width: 30px
  display: flex
  align-items: center
  justify-content: center