.teamBar
  display: flex
  flex-direction: row
  gap: 3px

.teamBar > div
  background-color:#191B1E

.position
  min-width: 22px
  display: flex
  align-items: center
  justify-content: center

.name
  flex-grow: 1
  align-items: center
  padding-left: 5px
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden

.statistics
  min-width: 33px
  display: flex
  align-items: center
  justify-content: center