before_script:
  - ssh-add <(echo "$SSH_PRIVATE_KEY")
  - mkdir -p ~/.ssh
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'

stages:
  - deploy

deploy_production:
  stage: deploy
  script:
    - ssh root@79.137.203.94 "cd /opt/srv && git checkout main && git pull origin main && yarn && yarn build && systemctl ragesrv restart"
  enviroment: production
  only:
    - main
