before_script:
  - apt-get update -qq
  - apt-get install -qq git
  - 'which ssh-agent || ( apt-get install -qq openssh-client )'
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY")
  - mkdir -p ~/.ssh
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'

stages:
  - deploy

deploy_production:
  stage: deploy
  script:
    - ssh $DEPLOYMENT_USER@$DEPLOYMENT_ADDRESS "cd /opt/srv/league && git checkout deploy && git pull origin deploy && yarn && yarn build && systemctl restart ragesrv"
  environment: production
  only:
    - deploy
