$black_tp: transparentize(#343434, 0.5)

.scoreboard
  width: 90vw
  height: 90vh
  display: grid
  grid-template-columns: 1fr  1fr 
  // grid-template-columns: 1fr 10px 1fr 10px
  grid-template-rows: 100px 1fr 60px
  font-size: 18px
  margin-left: 10px
  color: #ffffff
  gap: 10px