.top
  grid-area: 1 / 1 / 2 / 3
  // background: linear-gradient(90deg, transparentize(#343434, 0.5) 0%, rgba(214,0,255,1) 50%, rgba(245,255,0,1) 50%, rgba(255,255,255,1) 100%)
  display: grid
  grid-template-columns: 1fr 100px 100px 100px 1fr
  font-size: 30px
  
.left_team_name
  grid-area: 1 / 1 / 2 / 2
  display: flex
  align-items: center
  justify-content: flex-start
  padding-left: 5px

.right_team_name
  grid-area: 1 / 5 / 2 / 6
  display: flex
  align-items: center
  justify-content: flex-end
  padding-right: 5px