@use '../../../variables' as *

@keyframes page
  0%
    opacity: 0
  100%
    opacity: 1

// Wrapper

.root
  color: white

  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  height: 80vh
  width: 80vw

  position: absolute
  display: grid
  grid-template-columns: max-content 1fr
  grid-template-rows: 60px 1fr
  row-gap: 10px
  & > div
    background: $black

// Сommon 

.icon
  min-height: 30px
  max-height: 30px
  min-width: 30px
  max-width: 30px
  color: $yellow

.title
  max-height: 30px
  font-weight: 600

//  Header

.header
  grid-area: 1 / 1 / 2 / 3
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  padding: 0px 0px

.btncont
  padding: 15px
  display: flex
  justify-content: center
  align-items: center
  &:hover
    background: $yellow
    svg
      color: black

// Navbar

.navbar
  grid-area: 2 / 1 / 3 / 2
  display: flex
  flex-direction: column
  overflow: hidden
  width: 60px
  transition: all 0.5s ease-in-out
  &.shrink
    width: 150px

.navbarItem
  display: flex
  flex-direction: row
  padding: 15px
  gap: 16px
  align-items: center
  &:hover
    color: #000000
    background: $yellow
    svg
      color: black
  &.current
    color: #000000
    background: $yellow
    svg
      color: black

// Main window

.main
  grid-area: 2 / 2 / 3 / 3
  border-left: 1px solid $yellow
  & > div
    animation: page 0.4s

// Main --> Profile

.profile
  width: 100%
  height: 100%
  display: grid
  grid-template-rows: max-content 1fr

.profileItem
  display: flex
  flex-direction: column
  height: max-content
  :nth-child(2)
    font-size: 1.5rem
    font-weight: 600

.profileTop
  grid-row: 1 / 2
  display: flex
  align-items: center
  padding: 15px 15px
  gap: 15px
  :nth-child(1)
    flex-grow: 1
  :nth-child(2)
    justify-self: flex-end

.profileCenter
  height: max-content
  grid-row: 2 / 3
  padding: 15px 15px
  gap: 30px 15px
  display: flex
  flex-wrap: wrap
  div
    width: calc( 30% - 15px )
    align-items: center
    border:
      bottom: 2px solid $yellow

// Main --> Games

.matches
  display: flex
  flex-direction: column
  row-gap: 10px
  padding: 15px 15px
  overflow: auto
  gap: 5px
  & div:nth-child(even)
    background-color: $black2
    &:hover
      background: white
      color: #000000

.matchItem
  width: 100%
  display: flex
  column-gap: 10px
  justify-content: space-between
  span
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
    padding: 3px 5px
  :nth-child(1)
    width: calc( (100% - 230px) / 2 )
  :nth-child(2)
    width: calc( (100% - 230px) / 2 )
  :nth-child(3)
    width: 100px
  :nth-child(4)
    width: 130px
  &:hover
    background: white
    color: #000000

// Main --> Voting

.voting
  display: grid
  grid-template-rows: 100px 1fr

.votingTop
  grid-row: 1 / 2
  display: flex
  align-items: center
  padding: 15px 15px
  gap: 15px

.votingCenter
  grid-row: 2 / 3
  display: flex
  flex-wrap: wrap
  padding: 15px 15px
  gap: 15px

.votingCategoryItem
  display: flex
  justify-content: center
  align-items: center
  font-size: 1.5rem
  padding: 15px
  &:hover
    color: #000000
    background: $yellow
  &.current
    background: $yellow
    color: #000000

.votingItem
  width: calc( 20% - 15px)
  display: flex
  align-items: center
  justify-content: center
  &:hover
    color: #000000
    background: $yellow
