.playerItem
  display: flex
  flex-direction: row
  gap: 3px

.playerItem div
  background-color: transparentize(grey, 0.7)

.position
  min-width: 22px
  display: flex
  align-items: center
  justify-content: center
  padding: 2px 2px

.name
  align-items: center
  padding: 5px
  flex-grow: 1
  text-overflow: ellipsis
  white-space: nowrap
  overflow: hidden

.name.current
  color: #00ff00

.statistics
  display: flex
  align-items: center
  justify-content: center
  min-width: 33px
  padding: 2px 2px