@use '../../variables' as *

.item
  position: absolute
  color: white
  display: flex
  font-size: 1.2em
  text-shadow: -1px 0px $transparentBlack, 0 -1px $transparentBlack, 1px 0 $transparentBlack, 0 1px black, 1px 1px black, 1px 2px black, 2px 2px rgba(0, 0, 0, .5)

.default
  place-self: center

.top
  justify-self: center
  top: 15vh

.bottom
  justify-self: center
  bottom: 15vh

.damage_in
  font-weight: 600
  font-size: 0.8em
  color: #f32828
  place-self: center
  text-shadow: none
  margin-top: 13vh
  margin-left: 10vh

.damage_out
  font-weight: 600
  font-size: 0.8em
  color: greenyellow
  place-self: center
  text-shadow: none
  margin-top: 10vh
  margin-left: 10vh